.App {
  text-align: center;
  width: 100%;
  max-width: 100%;
  padding: 0;
}
.App + div:first-child{
  padding:0;
}

a:hover{
  text-decoration: none !important;
  color: salmon !important;
}

.row {
  margin-left: 0;
  margin-right: 0;
}