.Profile {
	min-height: 100vh;
	height: 100%;
	display: flex;
	> .container	 {
		width: 80%;
		margin: 0 auto;
		position: relative;
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 60px;
		.SearchHistory {
			margin-top: auto;
		}

	}
	h1 {
		margin: 0;
		padding-bottom: 20px;
	}
}
